%h1 Mörderrangliste

%table.table
  %thead
    %tr
      %th Spieler
      %th Punkte
      %th Strenght of Schedule
      %th
  %tbody
    - @rankings.each do |ranking|
      %tr
        %td= ranking.user
        %td= ranking.points
        %td= ranking.sos
        %td= link_to 'Show', ranking

%br
